#product_form {
    display: grid;
    gap: 1em;
    grid-template-columns: auto 1fr;
}

#header {
    display: flex;
    justify-content: space-between;

    .right-side {
        display: flex;
        gap: 1em;
        align-items: center;
    }
}
