@import "variables.scss";

button {
    background: white;
    border: 2px solid $accent-color;
    border-radius: 4px;
    cursor: pointer;

    padding: 0.5em;

    &:hover {
        background: $accent-color;
        color: white;
    }
}
