@import "variables.scss";


* {
    color: $primary-color;
}

#root {
    margin: 1em 2em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: end;

    h1 {
        margin: 0;
    }

    .buttons {
        display: flex;
        gap: 1em;
    }
}

.card-container {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}

.card {
    border: solid $accent-color 2px;
    border-radius: 4px;
    display: grid;

    #delete-checkbox {
        margin-left: 0.5em;
        margin-top: 0.5em;
        justify-self: start;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 1em 0 2em 0;

        li {
            list-style: none;
            margin-bottom: 0.20em;
        }
    }
}

button a {
    text-decoration: none;
    color: inherit;
}
